@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Bitter:400,700);
/* Bootstrap Breakpoints */
/** Font Sizes */
/** Fonts */
/** Colors */
/* line 3, ../sass/base.scss */
html, body { font-family: "Lato"; color: #fcf6be; height: 100%; }

/* line 9, ../sass/base.scss */
h1 { color: #FFB800; font-size: 1.8em; }
/* line 12, ../sass/base.scss */
h1.page-header { border: none; }

/* line 17, ../sass/base.scss */
h2, .h2 { font-size: 2.4em; }

/* line 21, ../sass/base.scss */
h3, .h3 { font-size: 1.2em; }

/* line 25, ../sass/base.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4 { font-family: "Bitter"; }

/* line 30, ../sass/base.scss */
a, a:hover, a:focus { color: #fff; }

/* line 35, ../sass/base.scss */
label { font-size: 1.5em; font-weight: normal; font-family: "Bitter"; color: #FFB800; }

/* line 42, ../sass/base.scss */
.checkbox, .radio { padding-left: 5px; }
/* line 43, ../sass/base.scss */
.checkbox input, .radio input { margin-left: 0; position: relative; }
/* line 48, ../sass/base.scss */
.checkbox label, .radio label { font-size: 1em; }
