@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Bitter:400,700);
/*
 * Bootstrap Breakpoints
 */
/**
 * Font Sizes
 */
/**
 * Fonts
 */
/**
 * Colors
 */
#block-user-login {
  background: #ccc;
  z-index: 300;
  position: absolute;
  left: 10px;
  padding: 20px;
  top: 10px; }
  #block-user-login .block-title {
    display: none; }
  #block-user-login ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0; }

.front-map {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  height: 400px;
  width: 100%;
  z-index: 0; }
  .front-map #map {
    width: 100%;
    height: 400px;
    z-index: 200;
    position: relative; }

.navbar {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-bottom: 15px;
  width: 100%;
  z-index: 200; }
  .navbar li, .navbar li:hover, .navbar li:focus, .navbar a, .navbar a:hover, .navbar a:focus {
    color: #fff;
    background-color: transparent !important; }

.view-list-users {
  width: 100%;
  min-height: 100%;
  z-index: 0;
  /*
    overflow-y:hidden;
    overflow-x:auto;
    white-space:nowrap;
  */
 /*
 &.logged-out {
    padding-left:75%;
  }
*/ }
  .view-list-users .view-inner .view-content {
    text-align: right;
    position: relative;
    left: 0;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
    .view-list-users .view-inner .view-content.slick-initialized {
      filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
      opacity: 1; }
  .view-list-users .views-row {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    vertical-align: bottom; }
  .view-list-users .views-field-counter {
    display: none; }
  .view-list-users .person {
    /*
     * This property defines the default width of a person
     */
    width: 100px;
    /*
     */
    max-width: 300px;
    position: relative;
    margin: auto;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .view-list-users .person.new {
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
    .view-list-users .person .person__loader {
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      position: absolute;
      left: 50%;
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      max-width: 60%;
      top: 140px;
      position: relative; }
    .view-list-users .person .person__body {
      display: block; }
      .view-list-users .person .person__body img {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
      .view-list-users .person .person__body .person__body__person {
        max-height: 100%;
        width: 100%;
        height: auto; }
    .view-list-users .person.visible .person__body img {
      filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
      opacity: 1; }
    .view-list-users .person.visible .person__loader {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0; }
    .view-list-users .person.zoomed {
      width: 120%; }
    .view-list-users .person.active .person__inner, .view-list-users .person:hover .person__inner {
      filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
      opacity: 1; }
    .view-list-users .person .person__inner {
      color: #191919;
      height: 160px;
      font-size: 50%;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      position: relative;
      height: 100%;
      width: 150%;
      -moz-transform: translate3d(-50%, 0, 0);
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
      left: 50%;
      margin-bottom: 20px;
      text-align: left;
      background: #fff;
      padding: 10px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0; }
      .view-list-users .person .person__inner .person__fields {
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        position: relative;
        z-index: 1; }
        .view-list-users .person .person__inner .person__fields .person__name {
          font-size: 1.3em;
          margin-top: 0;
          margin-bottom: 5px;
          color: #26B65F; }
      .view-list-users .person .person__inner .user-picture img {
        width: 100%; }
      .view-list-users .person .person__inner .views-field-name-1 {
        font-size: 1.5em; }
      .view-list-users .person .person__inner:after {
        position: absolute;
        width: 30px;
        height: 30px;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background: #fff;
        left: 50%;
        margin-left: -15px;
        bottom: -5px;
        content: " ";
        z-index: 0; }

hr {
  border-color: #1d8c49; }

.btn, .btn:hover, .btn:focus {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: transparent;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background: #FFB800;
  color: #26B65F;
  text-transform: uppercase;
  font-size: .7em;
  border: 0; }
  .btn.btn--cta, .btn.form-submit, .btn:hover.btn--cta, .btn.form-submit:hover, .btn:focus.btn--cta, .btn.form-submit:focus {
    background-color: #146233;
    color: #FFB800;
    font-family: "Bitter";
    font-size: .7em;
    position: relative;
    -moz-box-shadow: 0px 1px 0px #030d07;
    -webkit-box-shadow: 0px 1px 0px #030d07;
    box-shadow: 0px 1px 0px #030d07;
    font-size: 1em;
    margin-top: .5em; }
    .btn.btn--cta:active, .btn.form-submit:active, .btn:hover.btn--cta:active, .btn.form-submit:hover:active, .btn:focus.btn--cta:active, .btn.form-submit:focus:active {
      -moz-box-shadow: 0px 0px 0px #030d07;
      -webkit-box-shadow: 0px 0px 0px #030d07;
      box-shadow: 0px 0px 0px #030d07;
      bottom: -1px; }
    .btn.btn--cta:hover, .btn.form-submit:hover, .btn:hover.btn--cta:hover, .btn.form-submit:hover:hover, .btn:focus.btn--cta:hover, .btn.form-submit:focus:hover {
      background-color: #19773e; }
.btn:hover {
  background: #ffbc0f; }

.person.user-profile.view-mode-full {
  font-size: .6em; }
  .person.user-profile.view-mode-full .person__body {
    width: 200px; }

.modal {
  width: 100%;
  min-height: 100%;
  padding-bottom: 15px;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  z-index: 100;
  overflow: auto;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  background: rgba(0, 0, 0, 0.4); }
  .modal.visible {
    display: block; }
  .modal.fade {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }
  .modal .modal__inner {
    position: absolute;
    left: 50%;
    top: 10%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 200;
    background: #26B65F;
    font-size: .6em;
    max-width: 600px;
    width: 95%; }
    .modal .modal__inner .modal__content {
      padding: 30px 40px;
      overflow: auto;
      height: 100%; }
      .modal .modal__inner .modal__content h2 {
        display: inline;
        float: left;
        margin-bottom: 30px; }
    .modal .modal__inner .modal__close {
      display: inline-block;
      position: relative;
      right: 15px;
      top: 0;
      padding-left: 15px;
      float: right;
      font-size: 3em;
      color: #FFB800; }
      .modal .modal__inner .modal__close:hover {
        text-decoration: none;
        color: #ffc633; }
  .modal .messages-container {
    position: relative;
    margin-bottom: 15px; }
    .modal .messages-container .alert-block {
      padding: 0;
      background: none;
      color: #fff;
      border: 0; }
      .modal .messages-container .alert-block::before {
        font-family: "Glyphicons Halflings";
        content: "\e101";
        margin-right: 5px;
        display: inline-block;
        color: #FFB800; }
  .modal .login-link {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: .8em; }

.geolocation-html5-map {
  max-width: 100%; }

.help-block {
  color: #fcf6be;
  font-size: .9em; }

#user-login-form ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0; }

.password-suggestions, .password-strength, .password-confirm {
  font-size: .8em; }

.colorpicker-placeholder {
  position: relative;
  width: 50px;
  height: 50px;
  background: #fff;
  margin: auto; }

input.colorpicker-element {
  height: 1px;
  padding: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 60px;
  margin: auto; }

.messages-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1000; }

.form-group {
  margin-bottom: 20px; }

.form-control {
  font-size: 1.2em;
  height: 45px;
  line-height: 1.4;
  padding: 10px 20px; }

fieldset.panel {
  background: transparent;
  border: 0;
  -moz-box-shadow: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0; }
  fieldset.panel .panel-heading {
    background: transparent;
    color: #95E2E5;
    padding: 0;
    border: 0; }
    fieldset.panel .panel-heading .panel-title {
      font-size: 1.2em;
      text-transform: capitalize; }
  fieldset.panel .panel-body {
    padding: 0; }

.group-custom {
  display: table; }
  .group-custom .field-type-color-field-rgb {
    display: table-cell;
    white-space: nowrap;
    padding: 0 5px;
    text-align: center; }
    .group-custom .field-type-color-field-rgb label {
      font-size: .9em;
      text-align: center; }

.form-control.error {
  background: white;
  border: 1px solid red; }

.messages.error.messages-inline {
  color: #fff;
  margin-top: -15px;
  padding: 0;
  margin-bottom: 15px; }
  .messages.error.messages-inline::before {
    font-family: "Glyphicons Halflings";
    content: "\e101";
    margin-right: 5px;
    display: inline-block;
    color: #FFB800; }

.page-title {
  margin-bottom: 30px; }

.form-checkbox {
  position: relative;
  margin-left: 0;
  margin-right: 5px; }

.slick-slider {
  margin-bottom: 0; }

.slick-track .slick-ground {
  content: "";
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -9px;
  height: 30px;
  background: url("../images/ground.png") repeat-x top left; }
