@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Bitter:400,700);
/* Bootstrap Breakpoints */
/** Font Sizes */
/** Fonts */
/** Colors */
/* line 4, ../sass/component.scss */
#block-user-login { background: #ccc; z-index: 300; position: absolute; left: 10px; padding: 20px; top: 10px; }
/* line 11, ../sass/component.scss */
#block-user-login .block-title { display: none; }
/* line 14, ../sass/component.scss */
#block-user-login ul { list-style: none; margin-left: 0; padding-left: 0; }

/* line 21, ../sass/component.scss */
.view-list-users { margin-bottom: 1em; }

/* line 25, ../sass/component.scss */
.front-map { position: fixed; z-index: 0; top: 0; left: 0; height: 400px; width: 100%; }
/* line 32, ../sass/component.scss */
.front-map #map { width: 100%; height: 400px; z-index: 200; position: relative; }

/* line 40, ../sass/component.scss */
.navbar { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; margin-bottom: 15px; width: 100%; z-index: 200; }
/* line 46, ../sass/component.scss */
.navbar li, .navbar li:hover, .navbar li:focus, .navbar a, .navbar a:hover, .navbar a:focus { color: #fff; background-color: transparent !important; }

/* line 53, ../sass/component.scss */
.view-list-users { width: 100%; min-height: 100%; z-index: 0; /* overflow-y:hidden; overflow-x:auto; white-space:nowrap;
*/  /* &.logged-out { padding-left:75%; }
*/ }
/* line 69, ../sass/component.scss */
.view-list-users .view-inner .view-content { text-align: right; position: relative; left: 0; -moz-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s; }
/* line 76, ../sass/component.scss */
.view-list-users .views-row { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; vertical-align: bottom; }
/* line 80, ../sass/component.scss */
.view-list-users .person { /* This property defines the default width of a person */ width: 100px; /* */ max-width: 300px; position: relative; margin: auto; -moz-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s; }
/* line 81, ../sass/component.scss */
.view-list-users .person.new { -moz-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s; }
/* line 84, ../sass/component.scss */
.view-list-users .person .person__loader { -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; position: absolute; left: 50%; top: 50%; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); -moz-transform: translate3d(-50%, -50%, 0); -webkit-transform: translate3d(-50%, -50%, 0); transform: translate3d(-50%, -50%, 0); max-width: 60%; margin-top: 100px; }
/* line 90, ../sass/component.scss */
.view-list-users .person .person__body { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
/* line 95, ../sass/component.scss */
.view-list-users .person.visible .person__body { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
/* line 98, ../sass/component.scss */
.view-list-users .person.visible .person__loader { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
/* line 108, ../sass/component.scss */
.view-list-users .person.zoomed { width: 120%; }
/* line 116, ../sass/component.scss */
.view-list-users .person.active .person__inner, .view-list-users .person:hover .person__inner { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
/* line 120, ../sass/component.scss */
.view-list-users .person .person__inner { color: #191919; height: 160px; font-size: 50%; -moz-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s; position: relative; height: 100%; width: 150%; -moz-transform: translate3d(-50%, 0, 0); -webkit-transform: translate3d(-50%, 0, 0); transform: translate3d(-50%, 0, 0); left: 50%; margin-bottom: 20px; text-align: left; background: #fff; padding: 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
/* line 136, ../sass/component.scss */
.view-list-users .person .person__inner .person__fields { overflow-x: hidden; overflow-y: auto; height: 100%; position: relative; z-index: 1; }
/* line 143, ../sass/component.scss */
.view-list-users .person .person__inner .user-picture img { width: 100%; }
/* line 146, ../sass/component.scss */
.view-list-users .person .person__inner .views-field-name-1 { font-size: 1.5em; }
/* line 149, ../sass/component.scss */
.view-list-users .person .person__inner:after { position: absolute; width: 30px; height: 30px; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); background: #fff; left: 50%; margin-left: -15px; bottom: -5px; content: " "; z-index: 0; }
/* line 163, ../sass/component.scss */
.view-list-users .person .person__body { display: block; }
/* line 165, ../sass/component.scss */
.view-list-users .person .person__body .person__body__person { max-height: 100%; width: 100%; height: auto; }

/* line 179, ../sass/component.scss */
hr { border-color: #1d8c49; }

/* line 188, ../sass/component.scss */
.btn, .btn:hover, .btn:focus { -moz-transition: all 0.2s; -o-transition: all 0.2s; -webkit-transition: all 0.2s; transition: all 0.2s; background-color: transparent; -moz-transition: background-color 0.2s; -o-transition: background-color 0.2s; -webkit-transition: background-color 0.2s; transition: background-color 0.2s; padding-left: 1.5em; padding-right: 1.5em; background: #FFB800; color: #26B65F; text-transform: uppercase; font-size: .7em; border: 0; }
/* line 199, ../sass/component.scss */
.btn.btn--cta, .btn:hover.btn--cta, .btn:focus.btn--cta { background-color: #146233; color: #FFB800; font-family: "Bitter"; font-size: .7em; position: relative; -moz-box-shadow: 0px 1px 0px #030d07; -webkit-box-shadow: 0px 1px 0px #030d07; box-shadow: 0px 1px 0px #030d07; font-size: 1em; margin-top: .5em; margin-bottom: 1em; }
/* line 209, ../sass/component.scss */
.btn.btn--cta:active, .btn:hover.btn--cta:active, .btn:focus.btn--cta:active { -moz-box-shadow: 0px 0px 0px #030d07; -webkit-box-shadow: 0px 0px 0px #030d07; box-shadow: 0px 0px 0px #030d07; bottom: -1px; }
/* line 213, ../sass/component.scss */
.btn.btn--cta:hover, .btn:hover.btn--cta:hover, .btn:focus.btn--cta:hover { background-color: #19773e; }
/* line 218, ../sass/component.scss */
.btn:hover { background: #ffbc0f; }

/* line 223, ../sass/component.scss */
.person.user-profile.view-mode-full { font-size: .6em; }
/* line 225, ../sass/component.scss */
.person.user-profile.view-mode-full .person__body { width: 200px; }

/* line 230, ../sass/component.scss */
.modal { width: 100%; height: 100%; position: fixed; left: 0; top: 0; content: ""; z-index: 100; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; background: rgba(0, 0, 0, 0.7); }
/* line 241, ../sass/component.scss */
.modal.visible { display: block; }
/* line 244, ../sass/component.scss */
.modal.fade { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
/* line 247, ../sass/component.scss */
.modal .modal__inner { position: fixed; left: 50%; top: 10%; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); height: 80%; overflow: hidden; z-index: 200; background: #26B65F; font-size: .6em; max-width: 1200px; width: 95%; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
/* line 260, ../sass/component.scss */
.modal .modal__inner .modal__content { padding: 15px; overflow: auto; height: 100%; }

/* line 268, ../sass/component.scss */
.geolocation-html5-map { max-width: 100%; }

/* line 272, ../sass/component.scss */
.help-block { color: #fcf6be; font-size: .9em; }

/* line 278, ../sass/component.scss */
#user-login-form ul { list-style: none; padding-left: 0; margin-left: 0; }

/* line 285, ../sass/component.scss */
.password-suggestions, .password-strength, .password-confirm { font-size: .8em; }

/* line 289, ../sass/component.scss */
.colorpicker-placeholder { position: relative; width: 50px; height: 50px; background: #fff; }

/* line 296, ../sass/component.scss */
.colorpicker-element { height: 1px; padding: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

/* line 302, ../sass/component.scss */
.messages-container { position: absolute; top: 0; left: 0; width: 100%; padding: 10px 0; z-index: 1000; }
