@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Bitter:400,700);
/* Bootstrap Breakpoints */
/** Font Sizes */
/** Fonts */
/** Colors */
/* line 4, ../sass/component.scss */
#block-user-login { background: #ccc; z-index: 300; position: absolute; left: 10px; padding: 20px; top: 10px; }
/* line 11, ../sass/component.scss */
#block-user-login .block-title { display: none; }
/* line 14, ../sass/component.scss */
#block-user-login ul { list-style: none; margin-left: 0; padding-left: 0; }

/* line 21, ../sass/component.scss */
.front-map { position: fixed; z-index: 0; top: 0; left: 0; height: 100%; width: 100%; z-index: 0; }
@media (max-width: 768px) { /* line 21, ../sass/component.scss */
  .front-map { position: absolute; } }
/* line 32, ../sass/component.scss */
.front-map #map { width: 100%; height: 100%; z-index: 200; position: absolute; left: 0; top: 0; }

/* line 42, ../sass/component.scss */
.navbar { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; margin-bottom: 15px; width: 100%; z-index: 200; }
/* line 48, ../sass/component.scss */
.navbar li, .navbar li:hover, .navbar li:focus, .navbar a, .navbar a:hover, .navbar a:focus { color: #fff; background-color: transparent !important; }

/* line 55, ../sass/component.scss */
.view-list-users { width: 100%; min-height: 100%; z-index: 0; }
/* line 60, ../sass/component.scss */
.view-list-users .view-inner .view-content { text-align: right; position: relative; left: 0; -moz-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
/* line 66, ../sass/component.scss */
.view-list-users .view-inner .view-content.slick-initialized { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
/* line 68, ../sass/component.scss */
.view-list-users .view-inner .view-content.slick-initialized > div { display: block; }
/* line 73, ../sass/component.scss */
.view-list-users .view-inner .view-content > div { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; vertical-align: bottom; }
/* line 80, ../sass/component.scss */
.view-list-users .views-field-counter { display: none; }
/* line 83, ../sass/component.scss */
.view-list-users .person { /* This property defines the default width of a person */ width: 100px; /* */ max-width: 300px; position: relative; margin: auto; -moz-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s; }
/* line 84, ../sass/component.scss */
.view-list-users .person.new { -moz-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s; }
/* line 87, ../sass/component.scss */
.view-list-users .person .person__loader { -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; position: absolute; left: 50%; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); max-width: 60%; top: 140px; position: relative; }
/* line 94, ../sass/component.scss */
.view-list-users .person .person__body { display: block; }
/* line 95, ../sass/component.scss */
.view-list-users .person .person__body img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
/* line 100, ../sass/component.scss */
.view-list-users .person .person__body .person__body__person { max-height: 100%; width: 100%; height: auto; }
/* line 111, ../sass/component.scss */
.view-list-users .person.visible .person__body img, .view-list-users .person:active .person__body img { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
/* line 115, ../sass/component.scss */
.view-list-users .person.visible .person__loader, .view-list-users .person:active .person__loader { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
@media (max-width: 768px) { /* line 83, ../sass/component.scss */
  .view-list-users .person { width: 70px; top: -7px; } }
/* line 129, ../sass/component.scss */
.view-list-users .person.zoomed { width: 120%; }
/* line 137, ../sass/component.scss */
.view-list-users .person.active .person__inner, .view-list-users .person:hover .person__inner { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
/* line 141, ../sass/component.scss */
.view-list-users .person .person__inner { color: #191919; height: 160px; font-size: 50%; -moz-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s; position: relative; height: 100%; width: 150%; -moz-transform: translate3d(-50%, 0, 0); -webkit-transform: translate3d(-50%, 0, 0); transform: translate3d(-50%, 0, 0); left: 50%; margin-bottom: 20px; text-align: left; background: #fff; padding: 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
/* line 157, ../sass/component.scss */
.view-list-users .person .person__inner .person__fields { overflow-x: hidden; overflow-y: auto; height: 100%; position: relative; z-index: 1; }
/* line 163, ../sass/component.scss */
.view-list-users .person .person__inner .person__fields .person__name { font-size: 1.3em; margin-top: 0; margin-bottom: 5px; color: #26B65F; }
/* line 171, ../sass/component.scss */
.view-list-users .person .person__inner .user-picture img { width: 100%; }
/* line 174, ../sass/component.scss */
.view-list-users .person .person__inner .views-field-name-1 { font-size: 1.5em; }
/* line 177, ../sass/component.scss */
.view-list-users .person .person__inner:after { position: absolute; width: 30px; height: 30px; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); background: #fff; left: 50%; margin-left: -15px; bottom: -5px; content: " "; z-index: 0; }

/* line 195, ../sass/component.scss */
hr { border-color: #1d8c49; }

/* line 204, ../sass/component.scss */
.btn, .btn:hover, .btn:focus { -moz-transition: all 0.2s; -o-transition: all 0.2s; -webkit-transition: all 0.2s; transition: all 0.2s; background-color: transparent; -moz-transition: background-color 0.2s; -o-transition: background-color 0.2s; -webkit-transition: background-color 0.2s; transition: background-color 0.2s; padding-left: 1.5em; padding-right: 1.5em; background: #FFB800; color: #26B65F; font-size: .7em; border: 0; }
/* line 214, ../sass/component.scss */
.btn.btn--cta, .btn.form-submit, .btn:hover.btn--cta, .btn.form-submit:hover, .btn:focus.btn--cta, .btn.form-submit:focus { background-color: #146233; color: #FFB800; font-family: "Bitter"; font-size: .7em; position: relative; -moz-box-shadow: 0px 1px 0px #030d07; -webkit-box-shadow: 0px 1px 0px #030d07; box-shadow: 0px 1px 0px #030d07; font-size: 1em; margin-top: .5em; }
/* line 223, ../sass/component.scss */
.btn.btn--cta:active, .btn.form-submit:active, .btn:hover.btn--cta:active, .btn.form-submit:hover:active, .btn:focus.btn--cta:active, .btn.form-submit:focus:active { -moz-box-shadow: 0px 0px 0px #030d07; -webkit-box-shadow: 0px 0px 0px #030d07; box-shadow: 0px 0px 0px #030d07; bottom: -1px; }
/* line 227, ../sass/component.scss */
.btn.btn--cta:hover, .btn.form-submit:hover, .btn:hover.btn--cta:hover, .btn.form-submit:hover:hover, .btn:focus.btn--cta:hover, .btn.form-submit:focus:hover { background-color: #19773e; }
/* line 232, ../sass/component.scss */
.btn:hover { background: #ffbc0f; }

/* line 237, ../sass/component.scss */
.fb-login-button { background: #3d5be1; color: #fff; text-align: center; border-radius: 5px; border: 1px solid rgba(255, 255, 255, 0.7); text-decoration: none; font-weight: bold; margin: 5px 0; padding: 5px 10px; display: block; width: 200px; }
/* line 249, ../sass/component.scss */
.fb-login-button:hover a, .fb-login-button:focus a { text-decoration: none; }

/* line 254, ../sass/component.scss */
.person.user-profile.view-mode-full { font-size: .6em; }
/* line 256, ../sass/component.scss */
.person.user-profile.view-mode-full .person__body { width: 200px; }

/* line 261, ../sass/component.scss */
.modal { width: 100%; min-height: 100%; padding-bottom: 15px; position: absolute; left: 0; top: 0; content: ""; z-index: 100; overflow: auto; -moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; background: rgba(0, 0, 0, 0.4); }
/* line 274, ../sass/component.scss */
.modal.visible { display: block; }
/* line 277, ../sass/component.scss */
.modal.fade { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
/* line 280, ../sass/component.scss */
.modal .modal__inner { position: absolute; border: 1px solid #8ee7b1; left: 50%; top: 10%; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); z-index: 200; background: #26B65F; font-size: .6em; max-width: 600px; width: 95%; }
/* line 291, ../sass/component.scss */
.modal .modal__inner .modal__content { padding: 30px 40px; overflow: auto; height: 100%; }
/* line 295, ../sass/component.scss */
.modal .modal__inner .modal__content h2 { display: inline; float: left; margin-bottom: 30px; }
/* line 301, ../sass/component.scss */
.modal .modal__inner .modal__close { display: inline-block; position: relative; right: 15px; top: 0; padding-left: 15px; float: right; font-size: 3em; color: #FFB800; }
/* line 310, ../sass/component.scss */
.modal .modal__inner .modal__close:hover { text-decoration: none; color: #ffc633; }
/* line 316, ../sass/component.scss */
.modal .messages-container { position: relative; margin-bottom: 15px; }
/* line 319, ../sass/component.scss */
.modal .messages-container .alert-block { padding: 0; background: none; color: #fff; border: 0; }
/* line 324, ../sass/component.scss */
.modal .messages-container .alert-block::before { font-family: "Glyphicons Halflings"; content: "\e101"; margin-right: 5px; display: inline-block; color: #FFB800; }
/* line 333, ../sass/component.scss */
.modal .login-link { position: absolute; right: 15px; top: 15px; font-size: .8em; }

/* line 343, ../sass/component.scss */
.geolocation-html5-map { max-width: 100%; }

/* line 347, ../sass/component.scss */
.help-block { color: #fcf6be; font-size: .9em; }

/* line 353, ../sass/component.scss */
#user-login-form ul { list-style: none; padding-left: 0; margin-left: 0; }

/* line 360, ../sass/component.scss */
.password-suggestions, .password-strength, .password-confirm { font-size: .8em; }

/* line 364, ../sass/component.scss */
.colorpicker-placeholder { position: relative; width: 50px; height: 50px; background: #fff; margin: auto; }

/* line 372, ../sass/component.scss */
input.colorpicker-element { height: 1px; padding: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; width: 60px; margin: auto; }

/* line 380, ../sass/component.scss */
.messages-container { position: absolute; top: 0; left: 0; width: 100%; padding: 10px 0; z-index: 1000; }

/* line 389, ../sass/component.scss */
.form-group { margin-bottom: 20px; }

/* line 392, ../sass/component.scss */
.form-control { font-size: 1.2em; height: auto; padding: 10px 10px; }

/* line 398, ../sass/component.scss */
fieldset.panel { background: transparent; border: 0; -moz-box-shadow: 0; -webkit-box-shadow: 0; box-shadow: 0; }
/* line 402, ../sass/component.scss */
fieldset.panel .panel-heading { background: transparent; color: #95E2E5; padding: 0; border: 0; }
/* line 407, ../sass/component.scss */
fieldset.panel .panel-heading .panel-title { font-size: 1.2em; text-transform: capitalize; }
/* line 412, ../sass/component.scss */
fieldset.panel .panel-body { padding: 0; }

/* line 417, ../sass/component.scss */
.group-custom { display: table; }
/* line 419, ../sass/component.scss */
.group-custom .field-type-color-field-rgb { display: table-cell; white-space: nowrap; padding: 0 5px; text-align: center; }
/* line 424, ../sass/component.scss */
.group-custom .field-type-color-field-rgb label { font-size: .9em; text-align: center; }

/* line 434, ../sass/component.scss */
.form-control.error { background: white; border: 1px solid red; }

/* line 439, ../sass/component.scss */
.messages.error.messages-inline { color: #fff; margin-top: -15px; padding: 0; margin-bottom: 15px; }
/* line 444, ../sass/component.scss */
.messages.error.messages-inline::before { font-family: "Glyphicons Halflings"; content: "\e101"; margin-right: 5px; display: inline-block; color: #FFB800; }

/* line 453, ../sass/component.scss */
.page-title { margin-bottom: 30px; }

/* line 456, ../sass/component.scss */
.form-checkbox { position: relative; margin-left: 0; margin-right: 5px; }

/* line 461, ../sass/component.scss */
.slick-slider { margin-bottom: 0; }

/* line 465, ../sass/component.scss */
.slick-track .slick-ground { content: ""; position: absolute; left: 50%; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); bottom: -9px; height: 30px; background: url("../images/ground.png") repeat-x top left; }

/* line 474, ../sass/component.scss */
.people-container { position: absolute; right: 15px; bottom: 50px; width: 188px; height: 178px; }
/* line 480, ../sass/component.scss */
.people-container .person-form { display: none; width: 100%; }
/* line 484, ../sass/component.scss */
.people-container .person-form.visible { display: block; }
