@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Bitter:400,700);
/*
 * Bootstrap Breakpoints
 */
/**
 * Font Sizes
 */
/**
 * Fonts
 */
/**
 * Colors
 */
.smaller {
  font-size: 65%; }

.bigger {
  font-size: 125%; }

.margin-top {
  margin-top: 15px; }

.margin-bottom {
  margin-bottom: 15px; }

.margin-left {
  margin-left: 15px; }

.margin-right {
  margin-right: 15px; }

.padding-top {
  padding-top: 15px; }

.padding-bottom {
  padding-bottom: 15px; }

.padding-left {
  padding-left: 15px; }

.padding-right {
  padding-right: 15px; }
