/** Font Sizes */
/** Colors */
/* line 4, ../sass/style.scss */
html, body { height: 100%; }

/* line 7, ../sass/style.scss */
.wrapper { position: relative; }

/* line 10, ../sass/style.scss */
#block-user-login { background: #ccc; z-index: 300; position: absolute; left: 10px; padding: 20px; top: 10px; }
/* line 17, ../sass/style.scss */
#block-user-login .block-title { display: none; }
/* line 20, ../sass/style.scss */
#block-user-login ul { list-style: none; margin-left: 0; padding-left: 0; }

/* line 26, ../sass/style.scss */
.scroll-area { position: absolute; right: 0; top: 0; background: rgba(0, 0, 0, 0.4); height: 100%; width: 100px; z-index: 100; -moz-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s; }
/* line 35, ../sass/style.scss */
.scroll-area:hover { background: rgba(0, 0, 0, 0.7); }

/* line 40, ../sass/style.scss */
.front-map, .front-map #map { height: 200px; z-index: 200; position: relative; }

/* line 46, ../sass/style.scss */
.navbar { position: absolute; background: #fff; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; top: 0; left: 0; width: 100%; z-index: 200; }
