@import "compass";
@import "mixins";

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Bitter:400,700);

/*
 * Bootstrap Breakpoints
 */
 $break-xs : 768px;
 $break-sm : 960px;
 $break-md : 1200px;
 $break-lg : 1440px;

/**
 * Font Sizes
 */
$h1 : 1.8em;
$h2 : 1.5em;
$h3 : 1.2em;

/**
 * Fonts
 */
 $headings: "Bitter";
 $sans:"Lato";



/**
 * Colors
 */

$ltGrey : #ccc;
$dkGrey : #5a5a5a;
$near-black : #191919;
$base :  #26B65F;
$highlight-1 : #95E2E5;
$highlight-2 : #FFB800;
$dark-1 : darken($base,20%);
$text : rgb(252, 246, 190);


//
// Arbitrary Values
//
$spacing:15px;
$map-height:400px;
