@import "vars";

html,body {
  font-family:$sans;
  color:$text;
  height:100%;
}

h1 {
  color:$highlight-2;
  font-size:1.8em;
  &.page-header {
    border:none;
  }
}

h2, .h2 {
  font-size:2.4em;
}

h3,.h3 {
  font-size:1.2em;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
   font-family:$headings;
}

a {
  &,&:hover,&:focus {
    color:#fff;
  }
}

label {
  font-size:1.5em;
  font-weight: normal;
  font-family:$headings;
  color:$highlight-2;
}

.checkbox, .radio {
  input {
    margin-left:0;
    position:relative;
  }
  padding-left:5px;
  label {
    font-size:1em;
  }
}