@import "vars";


#block-user-login {
	background:$ltGrey;
	z-index:300;
	position:absolute;
	left:10px;
	padding:20px;
	top:10px;
	.block-title {
  	display:none;
	}
	ul {
  	list-style:none;
  	margin-left:0;
  	padding-left:0;
	}
}

.front-map {
  position:fixed;
  @media(max-width:$break-xs) {
    position:absolute;
  }
  z-index:0;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:0;
	#map {
	  width:100%;
	  height:100%;
    z-index:200;
    position:absolute;
    left:0;
    top:0;
	}
}

.navbar {
  @include border-radius(0);
  margin-bottom:$spacing;
  width:100%;
  z-index:200;
  li,a {
    &,&:hover,&:focus {
      color:#fff;
      background-color:transparent !important;
    }
  }
}

.view-list-users  {
  width:100%;
  min-height:100%;
  z-index:0;
  .view-inner {
    .view-content {
      text-align:right;
      position: relative;
      left:0;
      @include transition(.5s all);
      @include opacity(0);
      &.slick-initialized {
        @include opacity(1);
        > div  {
          display:block;
        }
      }
      //includes all slick slides
      > div {
    		@include inline-block;
    		vertical-align: bottom;
      }
    }
	}
	
	.views-field-counter {
	  display:none;
	}
	.person {
	  &.new {
  	  @include transition(.5s all);
	  }
	  .person__loader {
  	  @include transition(.3s all);
  	  @include absolute-x();
  	  max-width:60%;
  	  top:140px;
  	  position:relative;
	  }
	  .person__body {
	    img {
	      @include opacity(0);
	      @include transition(.3s all);
	    }
			display:block;
			.person__body__person {
				max-height:100%;
				width:100%;
				height:auto;
				
				&.man { }
				&.woman { }
			}
	  }
	  &.visible, &:active {
	    .person__body {
	      img {
  	      @include opacity(1);
  	    }
  	  }
  	  .person__loader {
    	  @include opacity(0);
  	  }
	  }
	  /*
	   * This property defines the default width of a person
	   */
		width:100px;
		@media(max-width:$break-xs){
		  width:70px;
		  top:-7px;
		}
		/*
		 */
		&.zoomed {
  		width:120%;
		}
		max-width:300px;
		position:relative;
		margin:auto;
		@include transition(.5s all);
		&.active, &:hover {
			.person__inner {
        @include opacity(1);
			}
		}
		.person__inner {
		    color:$near-black;
		    height:160px;
		    font-size:50%;
  			@include transition(.5s all);
  			position:relative;
  			height:100%;
  		  width:150%;
  		  @include translate3d(-50%,0,0);
  			left:50%;
  			margin-bottom:20px;
  			text-align:left;
  			background:#fff;
  			padding:10px;
  			@include border-radius(5px);
  			@include opacity(0);
		  .person__fields {
  			overflow-x:hidden;
        overflow-y:auto;
        height:100%;
        position:relative;
        z-index:1;
        .person__name {
          font-size:1.3em;
          margin-top:0;
          margin-bottom:5px;
          color:$base;
          
        }
			}
			.user-picture img {
  			width:100%;
			}
			.views-field-name-1 {
  			font-size:$h2;
			}
			&:after {
  			position:absolute;
  			width:30px;
  			height:30px;
  			@include rotateZ(45deg);
  			background:#fff;
  			left:50%;
  			margin-left:-15px;
  			bottom:-5px;
  			content:" ";
  			z-index:0;
			}
		}
	}
	.current-user {
	}
}

hr {
  border-color:darken($base,10%)
}

//
// Buttons
//

.btn {
  &, &:hover, &:focus {
    @include transition(.2s all);
    background-color:transparent;
    @include transition(.2s background-color);
    padding-left:1.5em;
    padding-right:1.5em;
    background:$highlight-2;
    color:$base;
    font-size:.7em;
    border:0;
    &.btn--cta {
      background-color:$dark-1;	
      color:$highlight-2;
      font-family:$headings;
      font-size:.7em;
      position:relative;
      @include box-shadow(0px 1px 0px darken(#146233, 20%));
      font-size:1em;
      margin-top:.5em;
      &:active {
        @include box-shadow(0px 0px 0px darken(#146233, 20%));
        bottom:-1px;
      }
      &:hover {
        background-color:lighten($dark-1,5%);
      }
    }
  }
  &:hover {
    background:lighten($highlight-2,3%);
  }
}

.person.user-profile.view-mode-full {
  font-size:.6em;
  .person__body {
    width:200px;
  }
}

.modal {
  width:100%;
  min-height:100%;
  padding-bottom:$spacing;
  position:absolute;
  left:0;
  top:0;
  content:"";
  z-index:100;
  overflow: auto;
  @include transition(.3s all);
  @include opacity(0);
  background:rgba(0,0,0,.4);
  &.visible {
    display:block;
  }
  &.fade {
    @include opacity(1);
  }
  .modal__inner {
    position:absolute;
    left:50%;
    top:10%;
    @include translateX(-50%);
    z-index:200;
    background:$base;
    font-size:.6em;
    max-width:600px;
    width:95%;
    .modal__content {
      padding:$spacing * 2 40px;
      overflow: auto;
      height:100%;
      h2 {
        display:inline;
        float:left;
        margin-bottom:30px;
      }
    }
    .modal__close {
      display:inline-block;
      position:relative;
      right:$spacing;
      top:0;
      padding-left:$spacing;
      float:right;
      font-size:3em;
      color:$highlight-2;
      &:hover {
        text-decoration: none;
        color:lighten($highlight-2,10%);
      }
    }
  }
  .messages-container {
    position: relative;
    margin-bottom:15px;
    .alert-block {
      padding:0;
      background:none;
      color:#fff;
      border:0;
      &::before {
        font-family:$icons;
        content:"\e101";
        margin-right:5px;
        display:inline-block;
        color:$highlight-2;
      } 
    }
  }
  .login-link {
    position:absolute;
    right:$spacing;
    top:$spacing;
    font-size:.8em;
  }
}



.geolocation-html5-map {
  max-width: 100%;
}

.help-block {
  color:$text;
  font-size:.9em;
}

#user-login-form {
  ul {
    list-style: none;
    padding-left:0;
    margin-left:0;
  }
}

.password-suggestions, .password-strength, .password-confirm {
  font-size:.8em;
}

.colorpicker-placeholder {
  position:relative;
  width:50px;
  height:50px;
  background:#fff;
  margin:auto;
}

input.colorpicker-element {
  height:1px;
  padding:0;
  @include opacity(0);
  width:60px;
  margin:auto;
}

.messages-container {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  padding:10px 0;
  z-index:1000;
}

.form-group {
  margin-bottom:20px;
}
.form-control {
  font-size:1.2em;
  height:auto;
  padding:10px 10px;
}

fieldset.panel {
  background:transparent;
  border:0;
  @include box-shadow(0);
  .panel-heading {
    background: transparent;
    color:$highlight-1;
    padding:0;
    border:0;
    .panel-title {
      font-size:1.2em;
      text-transform: capitalize;
    }
  }
  .panel-body {
    padding:0;
  }
}

.group-custom {
  display:table;
  .field-type-color-field-rgb {
   display:table-cell;
    white-space: nowrap;
    padding:0 5px;
    text-align: center;
    label {
      font-size:.9em;
      text-align: center;
    }
  }
}

.btn.form-submit {
  @extend .btn--cta;
}
.form-control.error {
  background:lighten(red,60%);
  border:1px solid red;
}

.messages.error.messages-inline {
  color:#fff;
  margin-top:-$spacing;
  padding:0;
  margin-bottom:$spacing;
  &::before {
    font-family:$icons;
    content:"\e101";
    margin-right:5px;
    display:inline-block;
    color:$highlight-2;
  }
}

.page-title {
  margin-bottom:30px;
}
.form-checkbox {
  position:relative;
  margin-left:0;
  margin-right:5px;
}
.slick-slider {
  margin-bottom:0;
}
.slick-track {
  .slick-ground {
    content:"";
    @include absolute-x();
    bottom:-9px;
    height:30px;
    background:url('../images/ground.png') repeat-x top left;
  }
}