@import "compass/css3";
@import "_vars.scss";

html, body { 
  height: 100%;
}
.wrapper {
  position:relative;
}
#block-user-login {
	background:$ltGrey;
	z-index:300;
	position:absolute;
	left:10px;
	padding:20px;
	top:10px;
	.block-title {
  	display:none;
	}
	ul {
  	list-style:none;
  	margin-left:0;
  	padding-left:0;
	}
}
.scroll-area {
  position:absolute;
  right:0;
  top:0;
  background:rgba(0,0,0,.4);
  height:100%;
  width:100px;
  z-index:100;
  @include transition(.5s all);
  &:hover {
    background:rgba(0,0,0,.7);
  }
}
.front-map {
	&,#map {
		height:200px;
    z-index:200;
    position:relative;
	}
}
.navbar {
  position:absolute;
  background:#fff;
  @include border-radius(0);
  top:0;
  left:0;
  width:100%;
  z-index:200;
}
