/** Font Sizes */
/** Colors */
/* line 22, user_list.scss */
.view-list-users.view-display-id-logged_in { width: 100%; min-height: 100%; z-index: 0; overflow-y: hidden; overflow-x: auto; white-space: nowrap; }
/* line 32, user_list.scss */
.view-list-users.view-display-id-logged_in .view-inner { padding-top: 40px; display: table; background-color: #e0f3fa; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE0F3FA', endColorstr='#FFB6DFFD'); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZjNmYSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZDhmMGZjIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNiOGUyZjYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNmRmZmQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0f3fa), color-stop(50%, #d8f0fc), color-stop(50%, #b8e2f6), color-stop(100%, #b6dffd)); background-image: -moz-linear-gradient(top, #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 50%, #b6dffd 100%); background-image: -webkit-linear-gradient(top, #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 50%, #b6dffd 100%); background-image: linear-gradient(to bottom, #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 50%, #b6dffd 100%); }
/* line 38, user_list.scss */
.view-list-users.view-display-id-logged_in .view-inner .view-content { text-align: right; }
/* line 43, user_list.scss */
.view-list-users .views-row { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; vertical-align: bottom; }
/* line 47, user_list.scss */
.view-list-users .person-wrapper { width: 384px; position: relative; height: 615px; margin-left: -30px; padding-top: 208px; }
/* line 54, user_list.scss */
.view-list-users .person-wrapper.active .fields { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
/* line 58, user_list.scss */
.view-list-users .person-wrapper .fields { height: 160px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s; position: absolute; height: 160px; width: 80%; left: 10%; text-align: left; background: #fff; padding: 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; top: 20px; }
/* line 62, user_list.scss */
.view-list-users .person-wrapper .fields .fields-inner { overflow-x: hidden; overflow-y: auto; height: 100%; position: relative; z-index: 1; }
/* line 69, user_list.scss */
.view-list-users .person-wrapper .fields .user-picture img { width: 100%; }
/* line 83, user_list.scss */
.view-list-users .person-wrapper .fields .views-field-name-1 { font-size: 3rem; }
/* line 86, user_list.scss */
.view-list-users .person-wrapper .fields:after { position: absolute; width: 30px; height: 30px; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); background: #fff; left: 50%; margin-left: -15px; bottom: -5px; content: " "; z-index: 0; }
/* line 100, user_list.scss */
.view-list-users .person-wrapper .body { display: block; }
/* line 102, user_list.scss */
.view-list-users .person-wrapper .body .person { max-height: 100%; width: 100%; height: auto; }

/* line 116, user_list.scss */
.jspContainer { overflow: hidden; position: relative; }

/* line 122, user_list.scss */
.jspPane { position: absolute; }

/* line 127, user_list.scss */
.jspVerticalBar { position: absolute; top: 0; right: 0; width: 16px; height: 100%; background: rgba(0, 0, 0, 0.4); }

/* line 137, user_list.scss */
.jspHorizontalBar { position: absolute; bottom: 0; left: 0; width: 100%; height: 8px; background: rgba(0, 0, 0, 0.4); }

/* line 147, user_list.scss */
.jspCap { display: none; }

/* line 152, user_list.scss */
.jspHorizontalBar .jspCap { float: left; }

/* line 157, user_list.scss */
.jspTrack { background: none; position: relative; }

/* line 163, user_list.scss */
.jspDrag { background: rgba(0, 0, 0, 0.7); position: relative; top: 0; left: 0; cursor: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border-left: 1px solid #fff; border-right: 1px solid #fff; }

/* line 175, user_list.scss */
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { float: left; height: 100%; }

/* line 182, user_list.scss */
.jspArrow { background: #50506d; text-indent: -20000px; display: block; cursor: pointer; padding: 0; margin: 0; }

/* line 192, user_list.scss */
.jspArrow.jspDisabled { cursor: default; background: #80808d; }

/* line 198, user_list.scss */
.jspVerticalBar .jspArrow { height: 16px; }

/* line 203, user_list.scss */
.jspHorizontalBar .jspArrow { width: 16px; float: left; height: 100%; }

/* line 210, user_list.scss */
.jspVerticalBar .jspArrow:focus { outline: none; }

/* line 215, user_list.scss */
.jspCorner { background: #eeeef4; float: left; height: 100%; }

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
/* line 223, user_list.scss */
* html .jspCorner { margin: 0 -3px 0 0; }
